In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('salaries_clean')

In [3]:
df.columns

Index(['job_title', 'rating', 'size', 'type_of_ownership', 'industry',
       'sector', 'revenue', 'min_salary', 'max_salary', 'avg_salary', 'city',
       'state', 'company_age', 'job_title_simp', 'seniority'],
      dtype='object')

## Taking relevant columns

In [6]:
df_model = df[['avg_salary', 'rating', 'size', 'type_of_ownership', 'industry',
       'sector', 'revenue', 'city',
       'state', 'company_age','seniority']]

In [8]:
df_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 516 entries, 0 to 515
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   avg_salary         516 non-null    float64
 1   rating             490 non-null    float64
 2   size               492 non-null    object
 3   type_of_ownership  496 non-null    object
 4   industry           466 non-null    object
 5   sector             466 non-null    object
 6   revenue            371 non-null    object
 7   city               516 non-null    object
 8   state              506 non-null    object
 9   company_age        430 non-null    float64
 10  seniority          80 non-null     object
dtypes: float64(3), object(8)
memory usage: 44.5+ KB

## get dummy data

In [9]:
df_dum = pd.get_dummies(df_model)

In [10]:
df_dum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 516 entries, 0 to 515
Columns: 417 entries, avg_salary to seniority_senior
dtypes: float64(3), uint8(414)
memory usage: 220.8 KB

In [11]:
df_dum.head()

,avg_salary,rating,company_age,size_1 to 50 Employees,size_10000+ Employees,size_1001 to 5000 Employees,size_201 to 500 Employees,size_5001 to 10000 Employees,size_501 to 1000 Employees,size_51 to 200 Employees,...,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,seniority_intern,seniority_junior,seniority_senior
0,57.0,3.1,11.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,65.0,3.1,57.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,72.0,3.6,40.0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,44.5,3.2,44.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,53.5,4.4,74.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df_dum.columns

Index(['avg_salary', 'rating', 'company_age', 'size_1 to 50 Employees',
       'size_10000+ Employees', 'size_1001 to 5000 Employees',
       'size_201 to 500 Employees', 'size_5001 to 10000 Employees',
       'size_501 to 1000 Employees', 'size_51 to 200 Employees',
       ...
       'state_UT', 'state_VA', 'state_VT', 'state_WA', 'state_WI', 'state_WV',
       'state_WY', 'seniority_intern', 'seniority_junior', 'seniority_senior'],
      dtype='object', length=417)

## Train Test Split

In [14]:
from sklearn.model_selection import train_test_split

In [25]:
X = df_dum.iloc[:,1:].values #take all columns except 'avg_salary' (features)
y = df_dum.iloc[:,0].values #take 'avg_salary' column only (dependent variable)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 42)